.quick-entry-card-div {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .head-div {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom-width: 1px;
        border-bottom-color: rgba($color: #000000, $alpha: 0.1);
        border-bottom-style: solid;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        font-weight: bold;

        span {
            margin-left: 16px;
        }
    }

    .content-div {
        position: relative;
        margin: 16px;
        width: calc(100% - 32px);
        height: calc(100% - 50px - 32px);

        .n-scrollbar {
            position: relative;
            width: 100%;
            height: 100%;

            .content-item-div {
                position: relative;
                width: 100%;
                height: 46px;
                border-radius: 10px;
                margin-bottom: 16px;
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-template-rows: 46px;
                gap: 16px;

                .title-div {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 16px;

                    .icon {
                        font-size: 40px;
                        margin-left: 16px;
                    }

                    .title-span {
                        position: relative;
                        max-width: calc(100% - 88px);
                        font-size: 16px;
                        font-weight: bold;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .tip-div {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 100%;
                    align-items: center;

                    .tip-span {
                        position: relative;
                        justify-self: end;
                        width: calc(100% - 32px);
                        margin-right: 32px;
                        color: rgba($color: #000000, $alpha: 0.3);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .content-item-div:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                cursor: pointer;

                .title-div {
                    .title-span {
                        color: #18A058;
                    }
                }
            }
        }
    }

}